@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,700;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');

  .subtitle {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  
.info {
    padding: 5px;
    border: 1px;
    margin: 0px;
    position: relative;
    text-align: center;
  }

.cardSpace{
  margin-left: calc(2 * var(--bs-gutter-x));
  margin-right: calc(2 * var(--bs-gutter-x));
}
