@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,700;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');

.cardStyle {
    margin: auto;
    position:relative;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    background-color: rgb(228, 228, 228);
    font-family: 'Roboto', sans-serif;
  }

.toolsStyle{
  margin: auto;
  position:relative;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 5px;
}