table {
    border-collapse: collapse;
    max-width: 1200px;
    width: 100%;
    margin: 2rem auto;
    border: 1px solid rgb(255, 0, 0);
}

tr{
    padding: 5px;
    text-align: center;
}

td{
    inline-size: 10px;
    overflow-wrap: break-word;
}

thead, tbody {
    border: 3px solid rgb(109, 14, 142);
    padding: 8px;

}

.btn-xs {
    font-size: .65rem;
    background: rgb(109, 14, 142);
    color: white;
    font-size: small;
    border: 1px solid rgb(199, 123, 225);
}

.btn-xs:hover {
    font-size: .65rem;
    background: rgb(199, 123, 225);
    color: white;
    font-size: small;
    border: 1px solid rgb(199, 123, 225);
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: scroll;
}

.dd-inner{
    background: rgb(101, 22, 211);
    background: linear-gradient(0deg, rgb(199, 123, 225) 0%, rgb(109, 14, 142) 100%);
    color: white;
  }

  .dd-outer {
    background: rgb(109, 14, 142);
  }

  .options {
    color: white;
  }
