@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,700;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');

  .areaName {
  	font-family: "Luminary";
  	color: purple;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    margin-top: -25px;
    text-decoration: underline;
  }
  
  .label {
  	color: black;
  	text-align: center;
  	margin-top: -15px;
  	font-style: italic;
  }
  
  .temp {
  	font-family: "Tahoma";
  	color: black;
    font-weight: 600;
    font-size: 30px;
    margin-top: -20px;
    text-align: center
  }
  
  .icon {
	float: left;
	margin-top: -16px;
  }
  
  .description {
  	font-weight: bold;
  	font-size: 24px;
  	font-style: italic;
  	font-family: "Times New Roman";
  }
  
  .lineBreak {
  	margin-top: -10px;
  	margin-bottom: 25px;
  }
  
  .otherInfo {
  	font-weight: bold;
  	font-size: 15px;
  	text-align:center;
  	margin-top: -18px;
  }
  
  .iconDisplay {
  	display: flex;
  	align-items: center;
  	vertical-align: center;
  	justify-content: center;
  	margin-top: -10px;
  }
  
  
  