.infoBox {
	border: 2px solid;
	padding: 20px;
}

.infoHeading {
	font-family: "Garamond";
	text-align: center;
	font-weight: bold;
}

.infoBody {
	font-family: "Garamond";
	text-align: center;
}

.infoTableLabel {
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.linksInfoTableLabel {
	font-weight: bold;
	text-align: center;
	vertical-align: top;
}

