@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,700;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');

  .pageTitle {
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
  }
  
  .pagePadding {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }
  
  .mapFormat {
    border-radius: 20px;
    overflow: hidden;
    margin: 25px;
    margin-top: 0px;
    border-style: solid;
    border-color: #6D0E8E;
    box-shadow: 10px 10px purple;
    height: 300px;
  }
  
  .imgBorder {
    border-radius: 20px;
    overflow: hidden;
    margin: 25px;
    margin-top: 0px;
    max-height: auto;
    max-width: 500px;
    box-shadow: 0px 0px 15px gray;
    margin-left: auto;
  	margin-right: auto;
  }

  .forecast {
  	border-radius: 20px;
  	border-style: solid;
    border-color: #6D0E8E;
    box-shadow: 10px 10px purple;
    height: 300px;
    margin: 25px;
    margin-top: 0px;
    background-color: skyblue;
    padding: 20px;
  }