@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');


.container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    min-width: 100%;
  }
  
  /* Bottom left text */
  .title {
    color: white;
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 700;
    font-size: 80px;
    padding-top: 40vh;
    padding-bottom: 5px;
    text-align: center;
  }
  
  .subheading {
    color: white;
    font-family: 'Roboto Serif', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    line-height: 0.9;
    font-style: italic;
  }


  .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }